<?xml version="1.0" encoding="utf-8" ?>
<configuration>
		<configSections>
    <section name="msbuildToolsets"
             type="Microsoft.Build.BuildEngine.ToolsetConfigurationSection, Microsoft.Build, Version=16.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a">
    </section>
</configSections>
  <appSettings>
    <add key="PdfToWordFile" value="D:\9949.pdf"/>
  </appSettings>
</configuration>